.navbar-nav, .auth-controls {
  a {
    color: #555;
    text-decoration: none;
    &:not(:last-child) {
      margin-right: 5px;
    }
    &.active, &:hover {
      text-decoration: underline;
    }
  }
  span {
    margin-right: 5px;
  }
  p {
    margin: 0 15px 0 0;
  }
}

